<!-- <!DOCTYPE html>

<html>
	
	<body>
		Oops something went wrong! <br>

		Go back to login page? <br>

		<form action="/home" method="post"> 
			<input type="submit" value="gohome">
		</form>

	</body>

</html> -->

<!DOCTYPE html>
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>HoldUp</h1>
</div>

<nav class="navbar navbar-expand-lg bg-primary mb-4">
    <div class="container">


        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            </br>
            <!--   <b><font color="white">Navigation Bar: </font></b>
  	  	<a href = "javascript:history.back()" class="badge badge-primary"><h4>Go Back</h4></a> |
<a href = "/home" class="badge badge-primary"><h4>Log Out</h4></a> |  -->

        </div>
        </br>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

</nav>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/views/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

</head>


<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <b>
        <div class="display_text_here" style="margin-left: 80px"></div>
        <ul>

            Oops something went wrong! <br>

            Go back to login page? <br>
            <br>
            <form action="/home" method="post">
                <input class="btn-primary" type="submit" value="Go Home">
            </form>

</body>

</html>