<!-- file: file:///Users/sravya/Desktop/Vend/index.html-->

<!doctype html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Barlow:300,400|Muli:200,200i,300&display=swap" rel='stylesheet'
    type='text/css'>
  <link rel="stylesheet" href="/views/css/style.css">
</head>

<body>

  <div class="header">
    <h1>Vend.</h1>
    <ul>
      <li><a href="#expertise">Create a Service </a></li>
      <li><a href="3">Our Team </a></li>
      <li><a href="#footer">Contact Us </a></li>
    </ul>
  </div>

  <div class="container">
    <div class="topnav">
      <input type="text" placeholder="Search for services">
    </div>
  </div>

  <% serviceList.forEach(function(service) {%>
  <div class="listing">
    <div class="photo">
      <img src="https://pmcspy.files.wordpress.com/2018/03/shutterstock_638274094.jpg?w=958&h=599&crop=1"
        alt="A image" />
    </div>
    <span class="holder">
      <div class="rightBox">
        <div class="mainText">
          <div class="mainTitle">
            <h5> Photography Services </h5>
          </div>
          <span class="description">
            <h3><%= service.description%></h3>
          </span>
        </div>
        <div class="profileMain">
          <div class="profile">
            <img src="https://i.redd.it/6onq25y0sh311.jpg" alt="A image" />
          </div>
          <div class="profileName">
            <h6> Anderson Smith </h6>
          </div>
        </div>
      </div>
      <div class="bottomBar">
        <div class="price">
          <h4> $<%= service.rate%>/hr </h4>
        </div>
        <div class="flexibility">
          <h4> Flexible </h4>
        </div>
        <div class="book">
          <h4 onclick="openForm()"> Book Now </h4>
          <div class="form-popup" id="myForm">
            <form action="/newtransaction" class="form-container" method="post">
              <h1>Type in your e-mail to contact Yan. </h1>

              <label for="email"><b>Email: </b></label>
              <input type="text" placeholder="Enter E-mail" name="email" required>

              <!--<input type="hidden" name="Course" value=<%= %>><br><br> PUT ACTIVITY INFO HERE-->

              <button type="submit" class="btn">Submit Email</button>
              <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>
        </div>
      </div>
    </span>
  </div>
  <% }) %>

  <div class="listing">
    <div class="photo">
      <img src="https://pmcspy.files.wordpress.com/2018/03/shutterstock_638274094.jpg?w=958&h=599&crop=1"
        alt="A image" />
    </div>
    <span class="holder">
      <div class="rightBox">
        <div class="mainText">
          <div class="mainTitle">
            <h5> Photography Services </h5>
          </div>
          <span class="description">
            <h3>I specialize in Formals, Senior Pics, LinkedIn Photos, Private Events, and Downtowns. Rates are
              negotiable
              so contact me directly for your photography needs. Check out my social media
              (www.facebook.com/AndersonPhotography). </h3>
          </span>
        </div>
        <div class="profileMain">
          <div class="profile">
            <img src="https://i.redd.it/6onq25y0sh311.jpg" alt="A image" />
          </div>
          <div class="profileName">
            <h6> Anderson Smith </h6>
          </div>
        </div>
      </div>
      <div class="bottomBar">
        <div class="price">
          <h4> $50/hr </h4>
        </div>
        <div class="flexibility">
          <h4> Flexible </h4>
        </div>
        <div class="book">
          <h4 onclick="openForm()"> Book Now </h4>
          <div class="form-popup" id="myForm">
            <form action="/newtransaction" class="form-container" method="post">
              <h1>Type in your e-mail to contact Yan. </h1>

              <label for="email"><b>Email: </b></label>
              <input type="text" placeholder="Enter E-mail" name="email" required>

              <!--<input type="hidden" name="Course" value=<%= %>><br><br> PUT ACTIVITY INFO HERE-->

              <button type="submit" class="btn">Submit Email</button>
              <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>
        </div>
      </div>
    </span>
  </div>

  <div class="listing">
    <div class="photo">
      <img
        src="https://www.payetteforward.com/wp-content/uploads/2018/04/Can-You-Fix-A-Broken-iPhone-Screen-heres-truth-828x466.jpg"
        alt="A image" />
    </div>
    <span class="holder">
      <div class="rightBox">
        <div class="mainText">
          <div class="mainTitle">
            <h5> iPhone Screen Fixing </h5>
          </div>
          <span class="description">
            <h3> Have a cracked phone screen? Don't want to pay hundreds of dollars to get a screen replacement?
              Get fast screen replacements for a low price directly on campus! Screen and assembly is included in price
              for service. </h3>
          </span>
        </div>
        <div class="profileMain">
          <div class="profile">
            <img
              src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/56380116_2146502925416081_9075666488047697920_n.jpg?_nc_cat=111&_nc_oc=AQkLMaxxH86a7MNeXZwiRBWTSxKerqRFftqmjga0a2cMpfSyU9dBY74JwcreybuiBv0&_nc_ht=scontent-atl3-1.xx&oh=1a1213c61557f17292919bc34b687fac&oe=5DA8B38C"
              alt="A image" />
          </div>
          <div class="profileName">
            <h6> Yan Li </h6>
          </div>
        </div>
      </div>
      <div class="bottomBar">
        <div class="price">
          <h4> $25 </h4>
        </div>
        <div class="flexibility">
          <h4> Flexible </h4>
        </div>
        <div class="book">
          <h4> Book Now </h4>
        </div>
      </div>
    </span>
  </div>

  <div class="listing">
    <div class="photo">
      <img
        src="https://www.liveabout.com/thmb/C2OIpfkXuX1tCmt6S2Xg1Wc2F_Q=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/103462956-56aa18633df78cf772ac60a8.jpg"
        alt="A image" />
    </div>
    <span class="holder">
      <div class="rightBox">
        <div class="mainText">
          <div class="mainTitle">
            <h5> Hairstyling: Curling and Straightening </h5>
          </div>
          <span class="description">
            <h3> I've been styling hair for over 10 years, and I love curling and straightening hair! I can work with
              all
              hair types and if you show me a picture of how you want your hair, I can try to match it using heat tools.
            </h3>
          </span>
        </div>
        <div class="profileMain">
          <div class="profile">
            <img src="http://www.salonrhapsody.com/uploads/1/2/0/4/12040232/michelle_orig.jpg" alt="A image" />
          </div>
          <div class="profileName">
            <h6> Haley Cooper </h6>
          </div>
        </div>
      </div>
      <div class="bottomBar">
        <div class="price">
          <h4> $15 </h4>
        </div>
        <div class="flexibility">
          <h4> Flexible </h4>
        </div>
        <div class="book">
          <h4> Book Now </h4>
        </div>
      </div>
    </span>
  </div>

  <div class="listing">
    <div class="photo"> </div>
  </div>

  <div class="listing">
    <div class="photo"> </div>
  </div>


  <div class="footer">
    <h3>Headlines.</h3>
    <p>1000 7th Avenue</p>
    <p>New York, NY</p>
    <p>(484) 192 - 8372</p>
  </div>

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>

</body>

</html>