html, body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  background-color: #FAFAFA; 
}


ul {
  text-align: right;
}

h1 {
  font-size: 35px;
}

/*Sizing*/

.container {
  margin: 0 auto;
}

/*Header Section*/

.header {
  padding: 30px 0px 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.header li {
  list-style: none;
  display: inline-block;
}

.header li a {
  color: #333;
  margin:0;
  border:0px;
}

/*LISTING BOX*/

/*Entire box*/
.listing {
  background-color: #fff;
  color: #fff;
  margin-top: 50px; 
  margin-left: 20%; 
  margin-right: 20%;
  width: 800px; 
  height: 250px; 
  text-align: center;
  display: flex; 
  flex-direction: row; 
  border: solid #E8E8E8;
  border-width: 0.9px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.1);

}

/*Holder for Right Box*/
.holder {
  color: #000;
  width: 550px; 
  display: flex; 
  flex-direction: column; 
  text-align: center; 
}

/*Right box*/
.rightBox {
  width: 550px; 
  height: 250px;  
  display: flex;
  flex-direction: row; 
  color: #fff; 
  /*box-shadow: 0px 8px 28px -1px rgba(0,0,0,0.1);*/
}

/*Title and Description*/
.mainText {
  width: 400px; 
  height: 200px;  
  display: flex;
  flex-direction: column;
}

/*Title*/
.mainTitle{
  text-align: center;  
}

.mainTitle h5{
  font-size: 20px; 
  color: black;  
}

/*Description*/
.description {
  width: 350px; 
  height: 200px; 
  margin-left: 40px; 
  margin-top: -30px; 
  text-align: left; 
}

/*Style for Description Text*/
.description h3 {
  font-size: 14px; 
  color: black;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px; 
}

/*Bottom Bar of Listing*/
.bottomBar {
  width: 475px; 
  height: 50px; 
  margin-top: -75px; 
  margin-left: 40px;
  text-align: left;  
  display: flex; 
  flex-direction: row; 

}

/*Price Tag*/
.price {
  background-color:#30DF60; 
  width: 70px; 
  height: 25px;  
  margin-top: 20px; 
  border-radius: 8px 8px 8px 8px;
  text-align: center; 
}

/*Flexibility Tag*/
.flexibility {
  background-color:#FF6B98; 
  width: 70px; 
  height: 25px; 
  margin-left: 40px; 
  margin-top: 20px; 
  border-radius: 8px 8px 8px 8px;
  text-align: center; 
}

/*Style for Price and Time Text*/
h4 {
  font-size: 14px; 
  text-align: center; 
  color: white;
  margin-top: 3px;  
}

/*Book Now Button*/
.book {
  background-color:rgb(65, 31, 255); 
  width: 100px; 
  height: 30px; 
  margin-left: 200px; 
  margin-top: 17px; 
  border-radius: 2px 2px 2px 2px;
  text-align: center; 
}

/* Dropdown button on hover & focus */
.book:hover, .book:focus {
  background-color: rgb(54, 28, 204);
}

/*Style for Book Text*/
.book h4 {
  font-size: 15px; 
  text-align: center; 
  color: white;
  margin-top: 5px;  
}

/*Photo of Listing*/
.photo {
  background-color: #fff;
  color: #fff;
  width: 250px; 
  height: 250px; 
  text-align: left;
  border-radius: 3px 0px 0px 3px; 
}

/*Prof Pic and Text*/
.profileMain {
  height: 150px;
  width: 150px; 
  text-align: right; 
}

/*Prof Name*/
.profileName {
  height: 25px;
  width: 75px; 
  text-align: center;  
  margin-left: 25px; 
  margin-top: -20px; 
}

/*Style for Prof Name Text*/
h6 {
  font-size: 13px; 
  text-align: center; 
  color: #404040; 
  font-family: 'Muli', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px; 
}

/*Circular Photo for Prof Pic*/
.profile {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 20px; 
  margin-left: 30px; 
}

img { 
  width:100%; 
  height:100%; 
  object-fit: cover; 
} 

.profile img { 
  width:100%; 
  height:100%; 
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: none; 
  outline: none; 
} 


/*Footer Section*/
.footer {
  margin-top: 50px; 
  padding: 60px 0px;
  background-color: #000;
  color: #fff;
}

.footer h3 {
  font-size: 20px;
  margin-left: 20px;
}

.footer p {
  font-size:12px;
  margin-bottom: 0;
  margin-left: 20px;
}

/* SEARCH BAR */

::placeholder { 
  color: grey;
  opacity: 1; 
  font-family: 'Muli', sans-serif;
  font-style: italic; 
  font-size: 15px; 
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: center;
  width: 800px; 
  padding: 12px;
  margin-left: 20%; 
  margin-right: 20%;
  font-size: 17px;
  border-radius: 5px 5px 5px 5px; 
  border: solid #E8E8E8;
  border-width: 0.9px;
}

.topnav input:hover, :focus {
  outline: none;
  box-shadow: 0px 8px 28px -1px rgba(0,0,0,0.1);
}
 

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 8px 28px -1px rgba(0,0,0,0.1);
  z-index: 9;
  border: solid #E8E8E8;
  border-width: 3px;
  border-radius: 3px 3px 3px 3px;
}

.form-popup h1 {
  font-size: 20px; 
}

/* Add styles to the form container */
.form-container {
  width: 700px;
  padding: 20px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 8px 0px 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 2px 2px 2px 2px;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover {
  opacity: 1;
}

.overlay {
  position:fixed;
  display:none; 

  /* color with alpha channel */
  background-color: rgba(0, 0, 0, 0.4); /* 0.7 = 70% opacity */

  /* stretch to screen edges */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: blur(10px);
}